.side-bar{
    position: fixed;
    top:80px;
    bottom:0;
    left:5px;
    width:72px;
    z-index: 200;
}

.sidebar-link{
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link img{
    height:25px;
    width:25px;
    margin-bottom: 15px;
}

.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
    transition: 1s;
}






